<%= index_header %>
<div style="float:right; margin-top:-8%">
	<%= link_to raw('<i class="icon-plus icon-white"></i>' + ' ' + 'Adicionar produto'), new_product_path, :class => "btn btn-primary" %>
</div>
<%= render "table" %>