<ul class="breadcrumb">
<% if @catalog %>
  <li><a href="/catalogs">Catálogos</a> <span class="divider">/</span></li>
<% else %>
	<li><a href="/sales">Promoções</a> <span class="divider">/</span></li>
<% end %>
	<li class="active">Nova promoção</li>
</ul>
<%= layout_edit_and_new %>