<ul class="breadcrumb">
  <li><a href="/users">Usuários</a> <span class="divider">/</span></li>
  <li class="active"><%= user.name %></li>
</ul>
<%= stylesheet_link_tag "details.css" %>

<h1 class="titulo"> <%= @title %> </h1>

<%= render "details_fieldset" %>


