<%= index_header %>
<br/>
<div style="float:right; margin-top:-8%">
<a href="/payment_types/new" class="btn btn-primary"> <i class="icon-plus icon-white"></i> <%= @button_title.to_s %></a>
</div>	
<br/>

<%= render "table" %>