<%= index_header %>
<div style="float:right; margin-top:-8%">
	<%= link_to raw('<i class="icon-plus icon-white"></i>' + ' ' + t(:brand_new_button)), new_brand_path, :class => "btn btn-primary" %>
</div>
<%= render "table" %>