<style>
.text_field {
	height:22px;
}
</style>


<script>

function validate (){

	var camposNaoPreenchidos = false;
	var precoErrado = false;
	var precoNominal = parseFloat($("#nominal_price").val().replace("R$", "").replace(",", "."));
	var precoPromocional = parseFloat($("#special_product_specialPrice").val().replace("R$", "").replace(",", "."));

	if(precoNominal < precoPromocional){
		alert("Preço Promocional deve ser menor que o nominal!");
		var e = window.event;
		e.cancelBubble = true;
		e.returnValue = false;

		if (e.stopPropagation) {
            e.stopPropagation();
            e.preventDefault();
			}
		return false;	
	}
	else {
		$("#nominal_price").val(precoNominal);
		$("#special_product_specialPrice").val(precoPromocional);
		return true;
	}	
}

 $(document).ready(function(){
 $("#special_product_specialPrice").priceFormat({
    prefix: 'R$ ',
    centsSeparator: ','
});


$("#nominal_price").priceFormat({
    prefix: 'R$ ',
    centsSeparator: ','
});

//TODO!!! torcar para 0 quando chegar o produto!!
	if( $("#nominal_price").val().length === 0 ){
		$("#nominal_price").val("R$ 100,00");
	} 
	else {
			$("#nominal_price").val($("#nominal_price").val().replace(".", ","));

	}
	if( $("#special_product_specialPrice").val().length === 0){
		$("#special_product_specialPrice").val("R$ 0,00");
	} 
		else {
			$("#special_product_specialPrice").val($("#special_product_specialPrice").val().replace(".", ","));

	}

 });
 
</script>

<%= stylesheet_link_tag "jqueryui.css" %>

<%= form_for @order, :validate => true, :html => { :class => 'form-horizontal',  :onsubmit => 'return validate()'} do |f| %>
<div class="form">
  
  
	 <div class="control-group">
   <label class="control-label" for="user_nome">Produto<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%#= f.text_field :product_id, :class => 'text_field' %>
    <input class="text_field"   type="text" placeholder="Autocomplete Produtos..." disabled>
	</div>
  </div>



    <div class="control-group">
   <label class="control-label" for="user_nome">Preço Nominal<span class="asterisk" >*</span>:</label>
    <div class="controls">
     <input class="text_field"   id="nominal_price" type="text" placeholder="10.99" disabled >
    </div>
  </div>

    <div class="control-group">
   <label class="control-label" for="user_nome">Preço Promocional<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%#= f.text_field :specialPrice, :class => 'text_field' %>
    </div>
  </div>
  
   <div class="control-group">
   <label class="control-label" for="user_nome">Quantidade Adquirida<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%#= f.text_field :total, :class => 'text_field' %>
    </div>
  </div>
   <div class="control-group">
   <label class="control-label" for="user_nome">Quantidade em Estoque<span class="asterisk" >*</span>:</label>
    <div class="controls">
      <%#= f.text_field :available, :class => 'text_field' %>
    </div>
  </div>
  
</div>
  <div class="form-actions">
    <%= f.submit "Salvar", :class => 'btn btn-primary' %>
	<a class="btn btn-small btn-danger" href="/orders/"><i class="icon-remove icon-white"></i>Cancelar</a>
  </div>
<% end %>
