<ul class="breadcrumb">
  <li><a href="/special_products">Produtos Diferenciados</a> <span class="divider">/</span></li>
  <li class="active">Editando produto diferenciado</li>
</ul>
<%= layout_edit_and_new %>