<ul class="breadcrumb">
  <li><a href="/special_products">Produtos diferenciados</a> <span class="divider">/</span></li>
  <li class="active">Novo produto diferenciado</li>
</ul>
<%= layout_edit_and_new %>